#intro
  .wrapper
    .holder-tooltips.left
      %div
        .tooltip
          %span
          Follow your cargo
      %div
        .tooltip
          %span
          Limit your expences
    .truck
    .holder-tooltips.right
      %div
        .tooltip
          %span
          Manage every trip
      %div
        .tooltip
          %span
          Improve your routine

#how_it_works
  .wrapper
    %h1.title= I18n.t('titles.how_it_works')

    %ul.clearfix
      %li
        %span.arrow
        %header
          = image_tag 'steps/clipboard.svg'
        %h2
          1.
          = I18n.t('how_it_works.step_consultation_title')
        %article
          %p= I18n.t('how_it_works.step_consultation_desc')
      %li
        %span.arrow
        %header
          = image_tag 'steps/truck.svg'
        %h2
          2.
          = I18n.t('how_it_works.step_installation_title')
        %article
          %p= I18n.t('how_it_works.step_installation_desc')
      %li.upload
        %span.arrow
        %header
          = image_tag 'steps/upload.svg'
        %h2
          3.
          = I18n.t('how_it_works.step_sync_title')
        %article
          %p= I18n.t('how_it_works.step_sync_desc')
      %li
        %header
          = image_tag 'steps/map.svg'
        %h2
          4.
          = I18n.t('how_it_works.step_manage_title')
        %article
          %p= I18n.t('how_it_works.step_manage_desc')

#products
  .wrapper
    %h1.title= I18n.t('titles.products')

    %ul.clearfix
      - %w(autotrack-xl-gyro autotrack-lite garmin-dezl-760LMT-7-inch).each do |item|
        %li.clearfix
          %aside
            = image_tag "products/#{item}-square.png"
          %article
            %h3= I18n.t("products.titles.#{item.gsub('-', '_')}")
            %p= I18n.t("products.slogans.#{item.gsub('-', '_')}")
            / = link_to I18n.t('actions.read_more'), '', id: "product-#{item}-link", class: 'read-more', data: {reveal_id: item}, anchor: "product-#{item}"
            = link_to I18n.t('actions.read_more'), "products/#{item}.html", id: "product-#{item}-link", class: 'read-more'

            .reveal-modal{id: item}
              %h1 
                = item
                Synth 8-bit chia letterpress Shoreditch High Life. 
              %p Fap blog Austin Banksy, chillwave ennui Schlitz Blue Bottle Cosby sweater labore magna. Occupy YOLO meggings disrupt, hoodie accusamus qui Neutra excepteur Godard literally single-origin coffee. McSweeney's assumenda biodiesel ut, excepteur flexitarian Thundercats locavore single-origin coffee labore Marfa bicycle rights Austin skateboard.



