#intro
  .wrapper
    .truck
      .holder-tooltips.left
        %div
          .tooltip
            %span
            = I18n.t('tooltips.follow_your_cargo')
        %div
          .tooltip
            %span
            = I18n.t('tooltips.limit_your_expences')
      .holder-tooltips.right
        %div
          .tooltip
            %span
            = I18n.t('tooltips.manage_every_trip')
        %div
          .tooltip
            %span
            = I18n.t('tooltips.improve_your_routine')

#how-it-works
  .wrapper
    %h1.title= I18n.t('titles.how_it_works')

    %ul.clearfix
      %li
        %span.arrow
        %header
          = image_tag 'steps/clipboard.svg'
        %h2
          1.
          = I18n.t('how_it_works.step_consultation_title')
        %article
          %p= I18n.t('how_it_works.step_consultation_desc')
      %li
        %span.arrow
        %header
          = image_tag 'steps/truck.svg'
        %h2
          2.
          = I18n.t('how_it_works.step_installation_title')
        %article
          %p= I18n.t('how_it_works.step_installation_desc')
      %li.upload
        %span.arrow
        %header
          = image_tag 'steps/upload.svg'
        %h2
          3.
          = I18n.t('how_it_works.step_sync_title')
        %article
          %p= I18n.t('how_it_works.step_sync_desc')
      %li
        %header
          = image_tag 'steps/map.svg'
        %h2
          4.
          = I18n.t('how_it_works.step_manage_title')
        %article
          %p= I18n.t('how_it_works.step_manage_desc')

#services
  .wrapper
    %h1.title= I18n.t('titles.services')

    %h2.title= I18n.t('services.titles.active_system_lite')
    %ul.services.active_system_lite.clearfix
      - I18n.t('services.details.active_lite').each do |item|
        %li
          %article= item

    %h2.title= I18n.t('services.titles.active_system_xl')
    %ul.services
      - I18n.t('services.details.active_xl').each do |item|
        %li= item

    %h1.title= I18n.t('titles.benefits')

    %ul.benefits.clearfix
      - I18n.t('services.labels').each do |item|
        %li
          %h2= item

    - if false
      %ul.features.clearfix
        %li
          %h2= I18n.t('services.labels.basic')
          %ul.list
            - I18n.t('services.features.basic').each do |item|
              %li= item

        %li
          %h2= I18n.t('services.labels.extended')
          %ul.list
            - I18n.t('services.features.extended').each do |item|
              %li= item
        %li
          %h2 Add-ons
          %ul.list
            %li Item 1
            %li Item 2
            %li Item 3
            %li Item 4

#products
  .wrapper
    %h1.title= I18n.t('titles.products')

    %ul.clearfix
      - %w(autotrack-xl-gyro autotrack-lite garmin-dezl-760LMT-7-inch super-trackstick-gps-tracking-device).each do |item|
        %li.clearfix
          %aside
            = link_to "products/#{item}.html" do
              = image_tag "products/#{item}-square.png"
          %article
            %h3= link_to I18n.t("products.titles.#{item.gsub('-', '_')}"), "products/#{item}.html"
            %p= I18n.t("products.slogans.#{item.gsub('-', '_')}")
            = link_to I18n.t('actions.read_more'), "products/#{item}.html", id: "product-#{item}-link", class: 'read-more'
#configurator
  .wrapper
    %h1.title= I18n.t('titles.configurator')

#about-us
  .wrapper
    %h1.title= I18n.t('titles.about')

#contact-us
  .wrapper.clearfix
    %h1.title= I18n.t('titles.contacts')
    %aside.details
      %h2= I18n.t('contacts.office_plovdiv')
      %address= I18n.t('contacts.office_plovdiv_address')
      %ul.phones
        - I18n.t('contacts.phones').each do |phone|
          %li= phone
      %ul.emails
        - I18n.t('contacts.emails').each do |email|
          %li= email

    #map


