#intro
  - if false
    #promo-line
      .wrapper
        - hook = 'services-gps-system-bg-lite'
        = link_to '/', anchor: hook, data: {anchor: hook} do
          %h1= I18n.t('services.promo.christmas')
          %h2= I18n.t('services.promo.christmas_line')
  .wrapper
    .truck
      .holder-tooltips.left
        %div
          .tooltip
            %span
            = I18n.t('tooltips.follow_your_cargo')
        %div
          .tooltip
            %span
            = I18n.t('tooltips.limit_your_expences')
      .holder-tooltips.right
        %div
          .tooltip
            %span
            = I18n.t('tooltips.manage_every_trip')
        %div
          .tooltip
            %span
            = I18n.t('tooltips.improve_your_routine')

#how-it-works
  .wrapper
    %h1.title= I18n.t('titles.how_it_works')

    %ul.clearfix
      %li
        - title = I18n.t('how_it_works.step_consultation_title')
        %span.arrow
        %header
          = image_tag 'steps/clipboard.png', alt: title, title: title
        %h2
          1.
          = I18n.t('how_it_works.step_consultation_title')
        %article
          %p= I18n.t('how_it_works.step_consultation_desc')

      %li
        - title = I18n.t('how_it_works.step_installation_title')
        %span.arrow
        %header
          = image_tag 'steps/truck.png', alt: title, title: title
        %h2
          2.
          = I18n.t('how_it_works.step_installation_title')
        %article
          %p= I18n.t('how_it_works.step_installation_desc')

      %li.upload
        - title = I18n.t('how_it_works.step_sync_title')
        %span.arrow
        %header
          = image_tag 'steps/upload.png', alt: title, title: title
        %h2
          3.
          = I18n.t('how_it_works.step_sync_title')
        %article
          %p= I18n.t('how_it_works.step_sync_desc')

      %li
        - title = I18n.t('how_it_works.step_manage_title')
        %header
          = image_tag 'steps/map.png', alt: title, title: title
        %h2
          4.
          = I18n.t('how_it_works.step_manage_title')
        %article
          %p= I18n.t('how_it_works.step_manage_desc')

#services
  .wrapper
    %h1.title= I18n.t('titles.services')

    - %w(gps_system_bg_lite gps_system_bg_xl gps_system_full).each do |plan|
      - hook = "services-#{plan.gsub('_', '-')}"
      %article.service.clearfix{:class => plan.gsub('_', '-'), id: hook}
        / %h2.title= I18n.t("services.titles.#{plan}")
        %h2.title
          = link_to I18n.t("services.titles.#{plan}"), '/', anchor: hook, data: {anchor: hook}

        %ul.services
          - I18n.t("services.details.#{plan}").each do |item|
            %li= item
        %aside.price.clearfix
          %div
            - I18n.t("services.prices.#{plan}.v1").each do |item|
              = item
          %div
            - I18n.t("services.prices.#{plan}.v2").each do |item|
              = item
          %span.box

          - if false
            - if plan == 'gps_system_bg_lite'
              %footer.promo
                %article
                  %h3= I18n.t('services.promo.christmas')
                  %ul
                    - I18n.t('services.promo.gps_system_bg_lite').each do |item|
                      %li= item


    %h1.title= I18n.t('titles.benefits')

    %ul.benefits.clearfix
      - I18n.t('services.labels').each do |item|
        %li
          %span.tick
          %h2= item

#products
  .wrapper
    %h1.title= I18n.t('titles.products')

    %ul.clearfix
      - %w(autotrack-xl-gyro autotrack-lite garmin-dezl-760LMT-7-inch super-trackstick-gps-tracking-device).each do |item|
        %li.clearfix
          - title = I18n.t("products.titles.#{item.gsub('-', '_')}")
          %aside
            = link_to "products/#{item}.html" do
              = image_tag "products/#{item}-square.png", alt: title, title: title
          %article
            %h3= link_to title, "products/#{item}.html"
            %p= I18n.t("products.slogans.#{item.gsub('-', '_')}")
            = link_to I18n.t('actions.read_more'), "products/#{item}.html", id: "product-#{item}-link", class: 'read-more'
#configurator
  .wrapper
    %h1.title= I18n.t('titles.configurator')

#about-us
  .wrapper.clearfix
    %h1.title= I18n.t('titles.about')

    %article.about
      %p= I18n.t('about.p1')
    %article.clients
      %h2.title= I18n.t('about.our_clients')
      %ul.clearfix
        - I18n.t('about.clients').each do |client|
          %li= client


#contact-us
  .wrapper.clearfix
    %h1.title= I18n.t('titles.contacts')
    %aside.details
      %h2= I18n.t('contacts.office_plovdiv')
      %address= I18n.t('contacts.office_plovdiv_address')
      %ul.phones
        - I18n.t('contacts.phones').each do |phone|
          %li= phone
      %ul.emails
        - I18n.t('contacts.emails').each do |email|
          %li= email

      .social
        .fb-like{"data-action" => "like", "data-href" => "http://www.facebook.com/dippol.gps.systems", "data-layout" => "standard", "data-share" => "true", "data-show-faces" => "true", "data-width" => "460"}
    #map


